body {
    background: rgb(229, 209, 151);
    font-family: Arial, Helvetica, sans-serif;

}

li {
    text-decoration: none;
    display: inline;
}

a {
    color: white;
    background-color: rgb(92, 88, 80);
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

header {
    border-bottom: 3px solid burlywood;
}


a:hover {
    background-color: rgb(125, 121, 115);;
}

.header_non_authenticated .register {
    margin-left: 1200px;
}

.header_authenticated .advertisements {
    margin-left: 200px;
}

.header_authenticated .log_out {
    margin-left: 490px;
}


.header_admin .log_out {
    margin-left: 1370px;
}


.header_admin .user_profiles {
    margin-left: 560px;
}  


form {
    background-color: cornsilk;
    border: 3px solid cornsilk;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 0px auto;
}


input {
    border: 3px solid black;
    display: block;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 10px;
    height: 25px;
}

textarea {
    border: 3px solid black;
    display: block;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 10px;
    height: 50px;
}

form button {
    margin: 0px auto;
    display: block;
    margin-top: 10px;
    padding: 5px;
    background-color: bisque;
    border-radius: 3px;
    border: 1px solid saddlebrown;
    color: saddlebrown;
    cursor: pointer;
}

.button {
    margin: 0px auto;
    display: block;
    margin-top: 10px;
    padding: 5px;
    background-color: bisque;
    border-radius: 3px;
    border: 1px solid saddlebrown;
    color: saddlebrown;
    cursor: pointer;
}

.button:hover{
    background-color: sienna;
    color: white;  
}

form button:hover{
    background-color: sienna;
    color: white;

}

form h3 {
    text-align: center;
    display: block;
}

section.my_advertisements{
    text-align: center;
    margin: 0px auto;
}

section.display_advertisements{
    text-align: center;
}

.Home h1 {
    text-align: center;
}


section.Home img {
    text-align: center;
    margin: 0px, auto;
    border-radius: 10px;
    width: 500px;
    height: 300px;
}

section.Home img.left {
    margin-left: 260px;
}

.Home p {
    width: 800px;
    text-align: center;
    margin-left: 400px;
    line-height: 2;
}

.Home a {
    margin-left: 700px;
}

.Home h2 {
    text-align: center;
}

footer {
    background-color: saddlebrown;
    height: 50px;
    border-radius: 20px;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 15px;
}

img.middle {
    margin-left: 500px;
    width: 900px;
}

.all_advertisements p {
    text-align: center;
}

.all_advertisements img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.all_advertisements_container {
    background-color: wheat;
    max-width: 300px;
    margin: 0px auto;
    border: 3px solid black;
    border-radius: 20px;
}

.all_advertisements h3 {
    text-align: center;

}

.all_advertisements form {
    background-color: wheat;
    border: none;
    max-height: 200px;
}

.all_advertisements h4 {
    text-align: center;
}

.all_advertisements p {
    text-align: center;
}

.price {
    text-align: center;
}

.all_advertisements li {
    text-align: center;
}

.all_advertisements a {
    margin-bottom: 500px;
}

.all_advertisements textarea {
    height: 120px;
}

.all_advertisements li {
    margin: 10px;
}
