<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
      {% load static %}
      <link rel="stylesheet" href="{% static "css/styles/styles.css" %}"/>
    <script src="{% static "js/skeleton/src/app.js"%}" type="module"></script>
      {% load static %}
    <title></title>
  </head>
  <body>
    <div id="wrapper">
      <header>
      </header>

      <main>
      </main>
    </div>
    <footer>
      <p>@CosmeticKingdom</p>
    </footer>
  </body>
</html>
