<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <link rel="stylesheet" href="{% static "css/styles/styles.css" %}"/>
    <script src="{% static "js/skeleton/src/app.js"%}" type="module"></script>

    <title>Jobstler</title>
</head>
<body>
    <header>
    </header>
    <main></main>
    <footer>
        <p>
            Django REST and lit-html project. All rights belong to their respective owners.
        </p>
    </footer>
</body>
